# Do not store data in repo unless its required modify below
data/

# Temp files
*.tmp
*.tmp.*
*.bak

# Datastore files
*.db
*.rdb
*.sqlite
*.sqlite3
*.sqlitedb
*.sqlite3-journal
*.psql
*.psql_history
*.mysql_history
*.pgsql_history
*.mongorc.js
*.couch
*.couchdb
*.couchdb-cookie
*.dump

# Distribution / packaging
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
*.pyo
*.pyd
*.py[cod]
.Python
build/
cmake-build-*/
eggs/
.eggs/
*.egg-info/
develop-eggs/
.installed.cfg
*.egg
kube*
*.so
lib/
lib64/
parts/
sdist/
var/
wheels/
dist/
share/python-wheels/
cython_debug/
.pyre/
.pytype/
.dmypy.json
dmypy.json
.ropeproject
.spyderproject
.spyproject
local_settings.py

# Docs
docs/_build/

# Installers and Logs
*.log
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Env
venv
env.bak/
.envrc
env/
ENV/
venv.bak/
.direnv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# Coverage & Unit Tests
htmlcov
junit
.coverage
.coverage.*
coverage.xml
poetry.lock
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
icoverage
coverage.lcov
cover/
tests/__pycache__/*
.pytest_cache
*.pytest_cache/
.pybuilder/
target/

# Runtime
pids
*.pid
*.seed
*.pid.lock
celerybeat-schedule
celerybeat.pid
*.swp

# Translations
*.mo
*.pot

# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# Cache
.cache
.cache/*
__pycache__
__pypackages__/
*.py[cod]
.cache
*$py.class
.mypy_cache/
*.sage.py
.webassets-cache
instance/

# IDE - JetBrains
# .idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/caches/*
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/replstate.xml
.idea/httpRequests
.idea/modules.xml
.idea/modules
.idea_modules/
*.iml

# IDE - Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.history/*

# IDE - All Others
*.ipr
*.code-workspace
*.swo
*.iws
profile_default/
ipython_config.py
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
